<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<config>
	<BD>
		<item name="NomBD" >
			<value>MORRABCV_DESARROLLO2</value>
		</item>
		<item name="Servidor" >
			<value>DESKTOP-T62LOJN\SQLEXPRESS2</value>
		</item>
		<item name="Us" >
			<value>sa</value>
		</item>
		<item name="Pwd" >
			<value>xtiansol</value>
		</item>
		<item name="BD" >
			<value>1</value>
		</item>
	</BD>
</config>